* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(227, 227, 227);
  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-div {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 50px auto 50px;
  width: 100vw;
  height: 100vh;
}

.heading {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  text-align: center;
  margin: auto;
}

.tpg-canvas {
  display: block;
  width: 1200px;
  max-width: min(80%, calc(100vw - 50px - 50px));
  max-height: min(80%, calc(100vh - 50px - 50px));
  margin: auto;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chat-log {}

.chat-input-form {
  display: flex;
  margin-top: auto;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.chat-input-text {
  width: 80%;
}

.chat-input-button {
  width: 20%;
}

.version-number {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-style: italic;
  color: grey;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
